{% extends "main.html" %}
{% block content %}
<div class="container">
    <h3>Edit Hero</h3>
    <form action="{{ url_for('updatehero', hero_id=hero._id) }}" method="POST">
        <div class="form-group">
            <label>First Name</label>
            <input id="first_name" name="first_name" class="form-control" type="text"
                value="{{hero.first_name}}">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input id="last_name" name="last_name" class="form-control" type="text" value="{{hero.last_name}}">
        </div>
        <div class="form-group">
            <label>Hero Name</label>
            <input id="hero_name" name="hero_name" class="form-control" type="text"
                value="{{hero.hero_name}}">
        </div>
        <div class="form-group">
            <label>Class</label>
            <input id="class" name="class" class="form-control" type="text"
                value="{{hero.class}}">
        </div>
        <div class="form-group">
            <label>Rank</label>
            <input id="rank" name="rank" class="form-control" type="text"
                value="{{hero.rank}}">
        </div>
        <div class="form-group">
            <label>Abilities</label>
            <input id="abilities" name="abilities" class="form-control" type="text"
                value="{{hero.abilities}}">
        </div>
        
        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmdelete">Delete</button>
        <!--<a href="{{ url_for('deletehero', hero_id=hero._id) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>-->
    </form>
    <div class="modal fade" id="confirmdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a href="{{ url_for('deletehero', hero_id=hero._id) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}