{% extends "main.html" %}
{% block content %}
<div class="container">
    <h2 id="guideabout">About</h2>
    <p class="guidetext">
        Hi there, this is a small site which acts as a guide to the heroes of the Hero Association from One Punch Man.
        The following is a guide on how you can use this site to populate, correct or delete information from the
        database for this site:
    </p>

    <h3 id="guideaddhero">How do I add a hero?</h3>
    <p class="guidetext">You can add a hero to the site by following these steps:</p>
    <ol>
        <li>Click on the 'Add New Hero' button in the navigation bar.</li>
        <li>Fill in the fields - if information for a particular field is unknown, please mark it as 'n/a'.</li>
        <li>Click on 'Add hero'</li>
    </ol>
    <p> And your hero is added!</p>

    <h3 id="guideedithero">How do I edit a hero's info?</h3>
    <p class="guidetext">You can edit a hero on the site by following these steps:</p>
    <ol>
        <li>Click on the 'Edit Hero' button in the particular hero's card.</li>
        <li>Fill in the fields/change information. If information for a particular field is unknown, please mark it as
            'n/a'.</li>
        <li>Click on 'Save changes'</li>
    </ol>
    <p>And your hero has been updated!</p>

    <h3 id="guidedeletehero">How do I delete a hero?</h3>
    <p class="guidetext">You can delete a hero on the site by following these steps:</p>
    <ol>
        <li>Click on the 'Edit Hero' button in the particular hero's card.</li>
        <li>Fill in the fields/change information. If information for a particular field is unknown, please mark it as
            'n/a'.</li>
        <li>Click on 'Delete'</li>
    </ol>
    <p>And your hero has been deleted!</p>

</div>



{% endblock %}